<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Paper In</string>
	<key>CFBundleDisplayName</key>
	<string>Paper In</string>
	<key>CFBundleIdentifier</key>
	<string>local.kgold.paper-in</string>
	<key>CFBundleExecutable</key>
	<string>PaperIn</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.7</string>
	<key>CFBundleVersion</key>
	<string>14</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Paper In discovers and connects to your scanner on your local network.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_ippusb._tcp</string>
		<string>_uscan._tcp</string>
		<string>_uscans._tcp</string>
	</array>
</dict>
</plist>
